@charset "utf-8";
@import url(reset.css);

.keys {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	width: 25rem;
	height: 35rem;
}

.keys div {
	appearance: none;
	width: 5rem;
	height: 5rem;
}

.keys button {
	appearance: none;
	width: 5rem;
	height: 5rem;
	border: solid black 1px;
}

button.tall {
	height: 10rem;
}
